@model SEIS752CardGame.Models.Login.LoginModel

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Card Game - Login</title>
        <meta name="viewport" content="width=device-width">
        
        <link rel="stylesheet" type="text/css" href="/Content/css/Site.css" />
    </head>
    <body>
        <div class="login-dialog">
            <div class="login-content">
                <div class="login-logo">
                    Logo Here
                </div>
                <div>
                    @using(Html.BeginForm("Index", "Auth", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div>
                            @Html.LabelFor(m => m.Username, "Username")
                            @Html.TextBoxFor(m => m.Username)
                        </div>
                        <div>
                            @Html.LabelFor(m => m.Password, "Password")
                            @Html.TextBoxFor(m => m.Password, new { type = "password" })
                        </div>
                        <button type="submit" class="btn">Login</button>
                    }
                </div>
            </div>
        </div>
    </body>
</html>